

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  padding-top: 5rem;
}

/* Homepage ------------------------- */
.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.hero_img {
    max-height: 30vh;
}

/* FORM CSS RULES */
.myForm {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.RegisterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

/* ALTRO */
main {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myLogoNav {
    height: 2rem;
    aspect-ratio: 1/1;
}

.myLogo {
    height: 3.5rem;
    aspect-ratio: 1/1;
}

.myLogoText {
    height: 3.5rem;
}

.dropdown-menu {
    min-width: fit-content;
    padding: 1rem;
}

.myAction {
    max-width: 50%;
    min-width: fit-content;
}

#myDropdown {
    padding: 1rem;
}

.img-404-not-selected {
    display: none;
}

.img-404-selected {
    display: block;
    background-color: rgba(69, 68, 68, 0.5);
    border-radius: 20px;
}

.about-img {
    height: 5rem;
    aspect-ratio: 1/1;
}

.bedge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.25rem;
    background-color: #ffe600;
    color: #645900;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bedge i {
    font-size: 0.85rem;
}

@media only screen and (min-width: 992px) {
    .myLogo {
        height: 5rem;
    }

    .myLogoText {
        height: 5rem;
    }
}