{% extends "base.html"%}

{% block title %}Categorie{% endblock %}

{% block content %}
    <section class="container text-center">
        <h2>LISTA CATEGORIE</h2>
        <div class="row gap-4 pt-4 d-flex align-center justify-content-center">
            {% if user.is_authenticated %}
                {% if categoria_list %}
                    {% for categoria in categoria_list %}
                        <div class="col-xs-10 col-sm-5 col-md-5 col-xl-2">
                                <a href="{% url 'spese:list' categoria_id=categoria.id %}" class="btn btn-primary w-100">{{ categoria.nome }}</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Non ci sono categorie</p>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}