{% extends "base.html"%}

{% block title %}Home Spese{% endblock %}

{% block content %}
    <section class="container vh-75 d-flex flex-column align-items-center justify-content-center">
        <h2>Benvenuto {{ user.get_username.capitalize }}</h2>
        <div class="my-4 w-100 d-flex flex-column align-items-center justify-content-center gap-4">
            {% if spesa_list.count > 0 %}
                <div class="card p-0">
                  <div class="card-header">
                    INFO SPESE
                  </div>
                        <ul class="list-group list-group-flush mx-4 my-2">
                            <li class="list-group-item">N° Spese: {{ spesa_list.0.n_spese }}</li>
                            <li class="list-group-item">Tot. spese: {{ spesa_list.0.totale_spese }}</li>
                            <li class="list-group-item">Tot. mensile: {{ spesa_list.0.totale_spese_mensile }}</li>
                            <li class="list-group-item">Tot. annuale: {{ spesa_list.0.totale_spese_annuale }}</li>
                        </ul>
                </div>
            {% endif %}
            <div class="container row d-flex align-items-center justify-content-center gap-3">
                <a href="{% url 'spese:all-list' %}" class="btn btn-primary col-sm-3 col-lg-2 myAction">Vedi Spese</a>
                <a href="{% url 'spese:macro-list' %}" class="btn btn-secondary col-sm-4 col-lg-2 myAction">Macrocategorie</a>
                <a href="{% url 'spese:create' %}" class="btn btn-secondary col-sm-3 col-lg-2 myAction">Nuova Spesa</a>
            </div>
        </div>
    </section>
{% endblock %}