{% extends "base.html"%}

{% block title %}Macro Categorie{% endblock %}

{% block content %}
    <section class="container text-center">
        <h2>LISTA MACRO CATEGORIE</h2>
        <div class="row gap-4 pt-4 d-flex align-center justify-content-center">
            {% if user.is_authenticated %}
                {% if macrocategoria_list %}
                    {% for macro in macrocategoria_list %}
                        <div class="col-xs-10 col-sm-5 col-md-5 col-xl-2">
                                <a href="{% url 'spese:categorie-list' macro_id=macro.id %}" class="btn btn-primary w-100">{{ macro.titolo }}</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Non ci sono macro categorie</p>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}