{% extends "base.html"%}
{% load crispy_forms_filters %}

{% block title %}Nuova Spesa{% endblock %}

{% block content %}
    <h2>NUOVA SPESA</h2>
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex align-center justify-content-center">
                <input class="btn btn-secondary" type="submit" value="Crea">
            </div>
        </form>
    {% endif %}
{% endblock %}