{% extends "base.html"%}

{% block title %}Spese{% endblock %}

{% block content %}
    <section class="container">
        <div class="d-flex gap-4 align-items-center">
            <h2 class="m-0">LISTA SPESE</h2>
            <a href="{% url 'spese:create' %}" class="btn btn-primary my-3"><i class="bi bi-plus-lg"></i></a>
        </div>
        {% if spesa_list %}
            <table class="table w-100">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Importo</th>
                  <th scope="col" class="d-none d-md-table-cell">Data</th>
                  <th scope="col" class="d-none d-lg-table-cell">Categoria</th>
                  <th scope="col">Azioni</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td></td>
                    <td class="fs-5"><a href="?filtro_importo=crescente"><i class="bi bi-caret-up-fill"></i></a> <a href="?filtro_importo=decrescente"><i class="bi bi-caret-down-fill"></i></a></td>
                    <td class="d-none d-md-table-cell fs-5"><a href="?filtro_data=crescente"><i class="bi bi-caret-up-fill"></i></a> <a href="?filtro_data=decrescente"><i class="bi bi-caret-down-fill"></i></a></td>
                    <td class="d-none d-lg-table-cell"></td>
                    <td></td>
                </tr>
                {% for spesa in page_obj %}
                <tr>
                  <td>{{ spesa.nome }}</td>
                  <td>{{ spesa.importo }} €</td>
                  <td class="d-none d-md-table-cell">{{ spesa.data_acquisto }}</td>
                  <td class="d-none d-lg-table-cell">{{ spesa.categoria.nome }}</td>
                  <td>
                      <div class="d-flex gap-2">
                        <div class="btn-group dropdown-center d-md-none">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-tools"></i>
                          </button>
                          <ul class="dropdown-menu p-3">
                            <li class="d-flex align-items-center justify-content-center"><a href="{% url 'spese:details' spesa.pk %}" class="btn btn-secondary"><i class="bi bi-info-circle-fill"></i></a></li>
                            <li class="d-flex align-items-center justify-content-center my-3"><a href="{% url 'spese:update' spesa.pk %}" class="btn btn-success"><i class="bi bi-pencil-square"></i></a></li>
                            <li class="d-flex align-items-center justify-content-center"><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ spesa.pk }}">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </li>
                          </ul>
                        </div>
                        <a href="{% url 'spese:details' spesa.pk %}" class="btn btn-secondary d-none d-md-block"><i class="bi bi-info-circle-fill"></i></a>
                        <a href="{% url 'spese:update' spesa.pk %}" class="btn btn-success d-none d-md-block"><i class="bi bi-pencil-square"></i></a>
                        <!-- Button that opens a modal -->
                        <button type="button" class="btn btn-danger d-none d-md-block" data-bs-toggle="modal" data-bs-target="#{{ spesa.pk }}">
                            <i class="bi bi-trash-fill"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="{{ spesa.pk }}" data-bs-backdrop="static"
                             data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ spesa.pk }}" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Eliminare {{ spesa.nome }}?</h5>
                              </div>
                              <form action="{% url 'spese:delete' spesa.pk %}" method="POST">
                                  <div class="modal-body">
                                    <p>Sicuro di voler eliminare "{{ spesa.nome }}"?</p>
                                        {% csrf_token %}
                                        {{ form }}
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                      <button type="submit" class="btn btn-danger" value="Confirm">Elimina</button>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- Pagination -->
            <div>
                <ul class="pagination d-flex align-center justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}
                          <li class="page-item"><a class="page-link bg-dark-subtle text-secondary" href="?page={{ num }}">{{ num }}</a></li>
                      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                    {% endif %}
                  </ul>
            </div>
        {% else %}
            <p class="my-5">Non ci sono spese</p>
        {% endif %}
    </section>
{% endblock %}