{% extends "base.html"%}

{% block title %}Dettagli Spesa{% endblock %}

{% block content %}
    <div class="container row">
        <div class="col-12 col-lg-5 container h-100 py-3">
            <div class="card text-center">
              <article class="card-header">
                  <h5 class="card-title my-2">{{ spesa.nome }}</h5>
              </article>
              <div class="card-body">
                <a href="{% url 'spese:all-list' %}" class="btn btn-secondary"><i class="bi bi-arrow-left"></i></a>
                <a href="{% url 'spese:update' spesa.pk %}" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
              </div>
            </div>
        </div>
        <div class="col-12 col-lg-5 container h-100 py-3">
            <div class="card">
              <div class="card-header">
                INFO
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Categoria: {{ spesa.categoria }}</li>
                <li class="list-group-item">Data: {{ spesa.data_acquisto }}</li>
                <li class="list-group-item">Abbonamento: {{ spesa.abbonamento }}</li>
                <li class="list-group-item">Importo: {{ spesa.importo }} €</li>
                <li class="list-group-item">Descrizione: {{ spesa.descrizione }}</li>
              </ul>
            </div>
        </div>
    </div>
{% endblock %}