{% extends "base.html"%}
{% load static %}

{% block title %}Error 404{% endblock %}

{% block head %}
    <script src="{% static 'js/custom_error_404.js' %}" defer></script>{% endblock %}

{% block content %}
      <div class="text-center vh-75">
        <h1 class="cover-heading">OOOPS.. qualcosa è andato storto!</h1>
          <figure class="d-flex justify-content-center">
            <img class="img-404-not-selected" src="{% static 'img/4effe4.png' %}" alt="Immagine errore di Francesco Mammi">
            <img class="img-404-not-selected" src="{% static 'img/4pek4.png' %}" alt="Immagine errore di Alessandro Pecchini">
            <img class="img-404-not-selected" src="{% static 'img/4roby4.png' %}" alt="Immagine errore di Roberto Spadoni">
            <img class="img-404-not-selected" src="{% static 'img/4sevy4.png' %}" alt="Immagine errore di Sebastiano Cassanelli">
          </figure>
        <p>La pagina che che stai cercando non è stata trovata</p>
          <a href="{% url 'homepage' %}">Home</a>
      </div>
{% endblock %}