{% extends "base.html"%}
{% load static %}

{% block title %}
    Error 500
{% endblock %}

{% block content %}
      <div class="text-center vh-75">
        <h1 class="cover-heading mb-5">OOOPS.. qualcosa è andato storto!</h1>
          <figure class="d-flex justify-content-center">
              <img class="w-50" src="{% static 'img/error500.png' %}" alt="Foto errore 500">
          </figure>
        <p>La pagina che che stai cercando non è stata trovata</p>
          <a href="{% url 'homepage' %}">Home</a>
      </div>
{% endblock %}