{% extends "base.html"%}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container w-100 text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <div class="card border border-light-subtle rounded-3 shadow-sm">
              <div class="card-body p-3 p-md-4 p-xl-5">
                <div class="text-center mb-3">
                  <a href="{% url 'homepage' %}">
                    <img src="{% static 'img/logo-spesing1.svg' %}" alt="Spesing logo" width="175" height="57">
                  </a>
                </div>
                <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Accedi con il tuo account</h2>
                <form action="{% url 'users:login' %}" method="POST">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}