{% extends "base.html"%}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="container">
        <section class="text-center bg-body-tertiary text-body rounded-3 p-5">
            <h2 class="pb-2 fw-bold">ABOUT US</h2>
            <p class="my-1">Anche se... dove sono le nostre facce?</p>
            <p class="mb-2">Forse serve un errore per trovarle!</p>
            <article class="py-4">
                <h3 class="pb-3">BACK-END</h3>
                <div class="d-flex align-center justify-content-center flex-wrap gap-5">
                    <div class="bg-body-secondary p-3 rounded-3" title="Menzione D'onore">
                        <figure class="position-relative m-0">
                            <img class="about-img rounded-circle" src="{% static 'img/pek-about.jpg' %}" alt="Alessandro Pecchini">
                            <div class="bedge rounded-circle"><i class="bi bi-star-fill p-0 m-0"></i></div>
                            <figcaption>Alessandro<br>Pecchini</figcaption>
                        </figure>
                    </div>
                    <div class="bg-body-secondary p-3 rounded-3" title="Menzione D'onore">
                        <figure class="position-relative m-0">
                            <img class="about-img rounded-circle" src="{% static 'img/roby-about.jpg' %}" alt="Roberto Spadoni">
                            <div class="bedge rounded-circle"><i class="bi bi-star-fill p-0 m-0"></i></div>
                            <figcaption>Roberto<br>Spadoni</figcaption>
                        </figure>
                    </div>
                </div>
            </article>
            <article class="pt-2">
                <h3 class="pb-3">FRONT-END</h3>
                <div class="d-flex align-center justify-content-center flex-wrap gap-5">
                    <div class="bg-body-secondary p-3 rounded-3" title="Menzione D'onore">
                        <figure class="position-relative m-0">
                            <img class="about-img rounded-circle" src="{% static 'img/pek-about.jpg' %}" alt="Alessandro Pecchini">
                            <div class="bedge rounded-circle"><i class="bi bi-star-fill p-0 m-0"></i></div>
                            <figcaption>Alessandro<br>Pecchini</figcaption>
                        </figure>
                    </div>
                    <div class="bg-body-secondary p-3 rounded-3" title="Menzione D'onore">
                        <figure class="position-relative m-0">
                            <img class="about-img rounded-circle" src="{% static 'img/roby-about.jpg' %}" alt="Roberto Spadoni">
                            <div class="bedge rounded-circle"><i class="bi bi-star-fill p-0 m-0"></i></div>
                            <figcaption>Roberto<br>Spadoni</figcaption>
                        </figure>
                    </div>
                    <figure class="bg-body-secondary p-3 rounded-3 m-0">
                        <img class="about-img rounded-circle" src="{% static 'img/sevy-about.jpg' %}" alt="Sebastiano Cassanelli">
                        <figcaption>Sebastiano<br>Cassanelli</figcaption>
                    </figure>
                    <figure class="bg-body-secondary p-3 rounded-3 m-0">
                        <img class="about-img rounded-circle" src="{% static 'img/fmammi-about.jpg' %}" alt="Francesco Mammi">
                        <figcaption>Francesco<br>Mammi</figcaption>
                    </figure>
                </div>
            </article>
        </section>
    </div>
{% endblock %}