{% load static %}<!DOCTYPE html>
<html lang="it" data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <!-- LINK -->
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/open_dyslexic_font.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'css/base_style.css' %}" id="base_css">
        <!-- SCRIPT -->
        <script src="{% static 'js/dark_mode.js' %}" defer></script>
        <script src="{% static 'js/dyslexic_accessibility.js' %}" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
        <script src="{% static 'js/ajax_calls.js' %}" defer></script>{% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top navbar-expand-lg border-bottom border-body">
            <div class="container-fluid px-4">
                <!-- DROPDOWN MOBILE -->
                <div class="btn-group">
                    <!-- BOTTONE UTENTE -->
                    <button type="button" class="btn btn-outline-secondary rounded d-lg-none" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="bi bi-person-fill"></i>
                    </button>
                    <!-- DROPDOWN UTENTE -->
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'users:register' %}">Register</a>
                      <li><a class="dropdown-item" href="{% url 'users:login' %}">Login</a>
                      {% if user.is_authenticated %}<li><hr class="dropdown-divider"></li>
                      <li>
                        <form action="{% url 'users:logout' %}" method="POST">
                         {% csrf_token %}
                         <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                      </li>
                      {% if user.is_staff %}<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>{% endif %}{% endif %}
                    </ul>
                </div>
                <!-- DIV DEL LOGO -->
                <div class="logo-wrapper d-flex align-center d-md-flex justify-content-md-start">
                    <a class="navbar-brand p-0 d-flex" href="{% url 'homepage' %}">
                        <img class="myLogoNav" src="{% static 'img/logo-spesing1.svg' %}" alt="Logo del sito: Spesing">
                    </a>
                </div>
                <!-- BURGER MENU -->
                <button class="navbar-toggler px-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon">
                  </span>
                </button>
                <!-- LINK -->
                <div class="collapse navbar-collapse text-end" id="navbarText">
                  <ul class="navbar-nav me-auto mb-lg-0 ps-3">
                    <li class="nav-item">
                      <a href="{% url 'homepage' %}" class="nav-link">Homepage</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'about' %}" class="nav-link">About</a>
                    </li>
                    {% if user.is_authenticated %}<li class="nav-item">
                      <a href="{% url 'spese:home' %}" class="nav-link">Resoconto</a>
                    </li>{% endif %}
                  </ul>
                  <!-- SETTINGS -->
                 <div class="btn-group dropdown-center">
                      <button type="button" class="btn btn-outline-secondary rounded ms-3" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear-fill"></i>
                      </button>
                      <ul class="dropdown-menu p-3">
                          <li class="pb-2">
                              <button class="darkModeToggle btn btn-light rounded" onclick="toggleDarkMode()">
                                <i class="darkModeIcon bi bi-brightness-high-fill"></i>
                              </button>
                          </li>
                          <li>
                              <button class="accessibilityModeToggle btn btn-outline-secondary rounded" onclick="setNewFont()">
                                <i class="accessibilityIcon bi bi-universal-access-circle"></i>
                              </button>
                          </li>
                      </ul>
                 </div>
                </div>
                <div class="btn-group d-none d-lg-block ms-2">
                    <!-- DIV DEL TASTO USER -->
                    <button type="button" class="btn btn-outline-secondary rounded" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="bi bi-person-fill"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item rounded" href="{% url 'users:register' %}">Register</a>
                        <li><a class="dropdown-item rounded" href="{% url 'users:login' %}">Login</a>
                            {% if user.is_authenticated %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form action="{% url 'users:logout' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item rounded">Logout</button>
                            </form>
                        </li>
                        {% if user.is_staff %}
                        <li><a class="dropdown-item rounded" href="{% url 'admin:index' %}">Admin</a>
                            {% endif %}
                            {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="container">
            <hr>
            <div class="float-end">
                <span id="weather"></span>
            </div>
            <p>&copy; 2024 Spesing &middot;
                <a href="#" data-bs-toggle="modal" data-bs-target="#ipmodal" onclick="getIpInfo()">Privacy</a>
            </p>
            <!-- Modal -->
            <div class="modal fade" id="ipmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Il tuo IP!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Il tuo ip è <span id="ipaddress"></span>, ma qui nessuno ha voglia di salvare il dato<br>
                    Ribadiamo, <strong>TOP PRIVACY!</strong>
                  </div>
                </div>
              </div>
            </div>
        </footer>
    </body>
</html>