{% extends "base.html"%}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container pt-2 pb-4">
    <div class="py-4 px-4 mb-4 bg-body-tertiary text-body rounded-3">
      <div class="container-fluid">
            <!-- HERO -->
            <div class="my-3 text-center border-bottom">
                <figure class="d-flex align-center justify-content-center mb-4">
                    <img class="myLogo" src="{% static 'img/logo-spesing1.svg' %}" alt="Scritta pesing per completare il logo">
                    <img class="myLogoText inverted" src="{% static 'img/Banner-Spesing-Dark.png' %}" alt="Scritta pesing per completare il logo">
                </figure>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">L'unico sito dove puoi gestire le tue GRANDI spese in modo comodo e ben organizzato</p>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <a href="{% url 'users:register' %}" class="btn btn-secondary btn-lg px-4 me-sm-3">Registrati</a>
                    <a href="{% url 'users:login' %}" class="btn btn-outline-secondary btn-lg px-4">Accedi</a>
                  </div>
                </div>
                <div class="overflow-hidden hero_img">
                  <figure class="container">
                    <img src="{% static 'img/app-screen.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
                  </figure>
                </div>
            </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6 mb-4 mb-md-0">
        <article class="h-100 p-4 bg-body-tertiary text-body rounded-3">
          <h4 class="fw-bold mb-3">Quanto è usata Spesing?</h4>
          <p class="m-2">Spese totali: <strong>{{ n_spese_totali }}</strong></p>
          <p class="m-2">Totale Speso: <strong>{{ totale_importo_spese }} €</strong></p>
        </article>
      </div>
      <div class="col-md-6">
        <div class="accordion" id="accordionExample">
            <article class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Perché dovrei usare Spesing?
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>E' UNA DOMANDA RETORICA!</strong><br>
                        Spesing è la miglior webapp di gestione spese al mondo!
                    </div>
                </div>
            </article>
            <article class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Cosa differenzia Spesing dai competitor?
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    I nostri competitor sono molto bravi a rubarvi i dati <br>
                    Noi semplicemente non ne siamo ancora in grado <br>
                    E questo significa... <strong>TOP PRIVACY</strong>
                    </div>
                </div>
            </article>
            <article class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Spesing migliora la vita?
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    Le domande retoriche <strong>ci piacciono un sacco</strong><br>
                    E' scentificamente provato che Spesing migliora tutti i voti <br>
                    Lo abbiamo testato noi per voi e... <br>
                    In Sviluppo Web abbiamo preso <strong>100!</strong>
                    </div>
                </div>
            </article>
          </div>
      </div>
    </div>
  </div>

{% endblock %}